<h1><%= @user.name %>'s Profile</h1>
<h3><%= @user.email %></h3>
<p>
  <%= @user.bio %>
</p>

<h3><%= @user.name %>'s Links</h3>
<% @user.images.each do |img| %>
  <p><%= link_to img.title, image_path(img) %></p>
<% end %>
