<h1> Edit Picture </h1>
<%= bootstrap_form_for @image do |f| %>
  
  <%= f.text_field :title %>

  <%= f.text_field :url %>

  <%= f.text_field :vote %>

  <%= f.text_area :description %>

  <%#= f.hidden_field :user_id, value: current_user.id %>
  
  <%= f.submit "Post that sheeeaaat!", class: "btn btn-primary" %>
<% end %>