<h1> Best Images </h1>
=======
<div class="container">
  <h1> Best Images </h1>
>>>>>>> 004bb4dd783e1418b0130207d57d7f750617b72b
<%= link_to "Post a new pic!", new_image_path %>
<%= render 'layouts/category' %>
<% @images.each_slice(3) do |img| %>
<div class="row"> 
<% img.each do |img| %>
<div class='col-md-3'>
  <% if img.categories == "Abstract" %>
  <h2><%= img.title %></h2>
  <h6><%= link_to image_tag(img.url), image_path(img) %></h6>
  <h3><%= img.categories %></h3>
  <h3><%= img.vote %></h3>
  <p><%= img.description %></p>
  <p><%= img.user_id %></p>
  <% end %>
  <% end %>
<% end %>
</div>
</div>
<!--  -->
</div>
