<ul class="no-bullet">
 <li>
  <%= link_to "All", images_path %>
  </li>
  <li>
  <%= link_to "Animals", images_path(categories: "Animals") %>
  </li>
  <li>
  <%= link_to "People", images_path(categories: "People") %>
  </li>
  <li>
  <%= link_to "Landscapes", images_path(categories: "Landscapes") %>
  </li>
  <li>
  <%= link_to "Funny", images_path(categories: "Funny") %>
  </li>
  <li>
  <%= link_to "Abstract", images_path(categories: "Abstract") %>
  </li>
</ul>
